// fonts
$main-fonts: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

// general colors
$link: #646cff;

// theme colors
$colors: (
  light:(bg: #242424,
    text: #242424,
    link-hover: #747bff,
  ),
  dark:(bg: #242424,
    text: rgba(255, 255, 255, 0.87),
    link-hover: #535bf2,
  )
);