@use './variables' as *;

@mixin theme($theme) {
  color: map-get($colors, $theme, text);
  background-color: map-get($colors, $theme, bg);

  a:hover {
    color: map-get($colors, $theme, link-hover);
  }
}

:root {
  font-family: $main-fonts;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  @include theme(dark);
}

a {
  font-weight: 500;
  color: $link;
  text-decoration: inherit;
}


body {
  margin: 0;
  place-items: center;
}



@media (prefers-color-scheme: light) {
  :root {
    @include theme(light);
  }
}