@use '../../variables' as *;

.register-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20 px;

    .register-header {
        margin: 5px;
    }

    .register-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 2px;

        input{
            margin-bottom: 10px;
        }

        .register-btn{
            background-color: rgb(42, 99, 44);
            border-radius: 20%;
            border-width: 2px;
            border-style: solid;
            border-color: rgb(169, 169, 169);
        }
    }

}